@charset "UTF-8"; 

body,  div, form, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0
}

html {
	overflow-y: scroll
}

body, button, input, select, td, textarea, th {
	font-size: 14px;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
		"clearen Gothic", helvetica, "Apple SD Gothic 네오", 산세리프;
	색상: #3333;
	글자 간격: -1px
}

li, ol, ul {
	목록 스타일: 없음
}

필드셋, img, 입력 {
	테두리: 없음
}

버튼 {
	여백: 0;
	패딩: 0;
	테두리: 0;
	텍스트 들여쓰기: -1000em;
	오버플로: 숨김;
	커서: 포인터
}

cite, em, i {
	글꼴 스타일: 일반
}

hr {
	디스플레이: 없음;
	지우기: 모두
}

강함 {
	글꼴 스타일: 일반;
	글꼴 두께: 700
}

a {
	color: #222;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

.inputBox {
	height: 21px; border:2px solid #D4D4D4; background-color: #FFFFFF;
	
}

.btnBox{
	height: 25px; border:1px solid #D4D4D4; background-color: #FFFFFF;	
	cursor: pointer; padding-left: 5px; padding-right: 5px; margin-left:5px
}